@media screen and (max-width: 600px) {
    .wf61IpZ51_1 > h1 {
      font-size: 30px;
      width: 100%;
    }
    .customer-support-footer {
        display: flex;
        gap: 8px;
        flex-direction: column;
    }
    .disclaimer > p {
      font-size: 11px;
      line-height: 16px;
    }
    body::before {
      background: linear-gradient(
        109.6deg,
        rgba(0, 0, 0, 0.452) 11.2%,
        rgba(8, 8, 8, 0.719) 51.2%,
        rgba(0, 0, 0, 0.671) 98.6%
      );
    }
    .sub-text {
      padding: 30px 0 0;
      overflow-x: hidden;
      word-wrap: break-word;
    }
    .sub-text > h2 {
      font-size: 22px;
      color: #fff;
      padding: 10px 0;
    }
    .sub-text > p,
    .sub-text > ul li {
      font-size: 15px;
      color: #dfdfdfd9;
      padding: 4px 0;
    }
    .disclaimer > p > img {
      width: 15px;
      position: relative;
      top: -1px;
      margin-right: 2px;
    }
    .bonus-offer-section {
      margin: 0 20px;
    }
    .card-container {
      display: flex;
      gap: 20px;
      padding: 25px 0;
      flex-direction: column;
    }
    .contact-social > ul {
      display: inline-flex;
      flex-wrap: wrap;
    }
    .hg_prize_picks_card {
      margin: 0;
    }
    .footer_prizepicks-links > ul > li > a {
      font-size: 13px;
    }
    .ContentArea {
      padding: 25px 0 0;
      text-align: center;
    }
    .card-b-offer {
      border: 1px solid #ffffff0f;
    }
    .Home_img > img {
      width: 80px;
      position: relative;
      top: -10px;
    }
    .content-text > p {
      font-size: 12px;
      padding: 0;
      font-style: oblique;
    }
    .content-text > h1 {
      font-size: 30px;
    }
    .Home_btn > a {
      display: ruby-text;
      margin: 0 4px;
    }
    .Home_btn > a > button {
      padding: 6px 22px;
      border-radius: 30px;
      outline: 0;
      color: #fff;
      font-size: 12px;
      margin-top: 20px;
    }
    .HomeFlex {
      display: flex;
      align-items: normal;
      justify-content: space-between;
      padding: 10px 0;
    }
    .jgrtopll4-c > p {
      font-size: 15px;
      width: 210px;
    }
  }
  @media only screen and (max-width: 390px) and (min-width: 300px) {
    img.f-1 {
      min-width: 170px;
    }
    .disclaimer > p {
      font-size: 9px;
      line-height: 16px;
      word-spacing: 0px;
    }
    .Home_img > a > img {
      width: 72px;
    }
  }
  @media only screen and (max-width: 868px) and (min-width: 601px) {
    .card-container {
      display: flex;
      gap: 20px;
      padding: 25px 0;
      flex-direction: column;
    }
  }
  