@media screen and (min-width:1200px){
    .container{
        width: 94% !important;
        max-width: 1365px !important;
        margin: 0 auto;
    }
}
.HomeFlex,.Zjd450w_dP_f {
    align-items: center;
    display: flex
}

.Home_btn>a>button,.content-text>h1,.content-text>p {
    font-weight: 600;
    font-family: "Exo 2",serif
}

img.f-7 {
    max-width: 70px;
    border-radius: 24px
}

*,.Home_btn>a>button,.footer-links>ul>li>a,p.footer-copyright,p.footer-p-a,p.footer-p-note {
    font-family: "Exo 2",serif
}

.card-b-offer,.disclaimer {
    width: 100%;
    overflow: hidden
}

.contact-social,.disclaimer {
    text-align: center
}

.card-b-offer,.card-image,.disclaimer>p>img,.footer,body {
    position: relative
}

.overlay,body::before {
    position: absolute;
    left: 0
}

p.footer-p-a>a,p.footer-p-a>a:hover {
    text-decoration: underline
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-image: url("../images/bbn .jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    z-index: 1;
    background-attachment: fixed
}

body::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(109.6deg,rgb(0 0 0 / 92%) 11.2%,rgb(8 8 8) 51.2%,rgb(0 0 0 / 86%) 98.6%);
    height: 100%
}

.overlay h3,.overlay p {
    text-align: left;
    z-index: 1
}

.HomeFlex {
    justify-content: space-between;
    padding: 20px 0
}

.Home_img>a>img {
    max-width: 100%;
    height: auto;
    display: block;
}

.Home_btn>a {
    display: inline-block;
    margin: 0 4px
}

.Home_btn>a>button {
    padding: 10px 32px;
    border-radius: 8px;
    border: 1px solid;
    outline: 0;
    font-size: 16px;
    background: #000;
    color: #ff0
}

.Home_btn>a>button.log {
    background: #ffd50c;
    color: #000;
    border: 0
}

.ContentArea {
    padding: 50px 0 0;
}

.content-text>h1 {
    color: #fdfcff;
    font-size: 40px;
    font-style: italic
}

.content-text>p {
    color: #fff;
    font-size: 18px;
    padding: 5px 0
}

.PoI542T_l2241 {
    padding: 8px 0
}

.Zjd450w_dP_f {
    justify-content: space-between
}

.footer {
    border-width: 1px;
    padding: 30px 15px 20px;
    bottom: 0;
    background: #121212;
    border-top: 1px solid #fdd835;
    margin: 60px 0 0
}

p.footer-p-a,p.footer-p-note {
    font-size: 14px;
    font-weight: 300;
    color: #d3cfcf;
    line-height: 24px;
    margin: 20px 0 5px
}

p.footer-copyright,p.footer-copyright>a,p.footer-p-a>a {
    color: #fff!important
}

p.footer-copyright {
    font-size: 13px!important;
    font-weight: 500;
    padding: 8px;
    margin: 0
}

.footer-links>ul>li {
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 2px
}

.footer-links>ul>li>a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline!important
}

.footer-links li a:after {
    display: inline-block;
    padding: 0 0 0 .5em;
    color: #fff;
    content: "|"
}

.footer-links li:last-child a:after {
    color: transparent
}

.footer-links>ul {
    padding-left: 0
}

.contact-social>ul {
    display: inline-flex;
    list-style: none;
    align-items: baseline;
    margin: 0;
    padding: 15px 0
}

img.f-2 {
    max-width: 55px;
    border-radius: 10px
}

img.f-5 {
    min-width: 135px
}

img.f-6 {
    max-width: 90px
}

img.f-1 {
    min-width: 208px
}

img.f-4 {
    min-width: 150px
}

.contact-social ul li a {
    display: inline-block;
    height: 70px;
    transition: .4s;
    max-width: 250px;
    padding: 10px
}

.contact-social ul li a>img {
    width: 120px
}

.card-container {
    display: flex;
    gap: 20px;
    padding: 25px 0
}

.card-b-offer {
    background: #1e1e1e;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    transition: transform .3s
}

.card-b-offer:hover {
    transform: scale(1.05)
}

.card-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
    transition: transform .5s
}

.card-b-offer:hover .card-image {
    transform: scale(1.1)
}

.overlay {
    top: -65px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    pointer-events: none
}

.overlay h3 {
    font-size: 20px;
    color: #fdd835;
    width: 200px;
    font-weight: 700
}

.overlay p {
    font-size: 11px;
    color: #e9e9e9;
    width: 245px
}

.card-content {
    padding: 20px
}

.card-content h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
    height: 35px
}

.card-content p {
    font-size: 13px;
    color: #cdcdcd;
    margin-bottom: 20px
}

.card-content .btn {
    background: #ffd50c!important;
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600
}

.card-content .btn:hover {
    background: #d1a804
}

.sub-text {
    padding: 30px 0
}

.sub-text>h2 {
    font-size: 26px;
    color: #fff;
    padding: 12px 0
}

.sub-text>p,.sub-text>ul>li {
    font-size: 16px;
    color: #dfdfdf;
    padding: 4px 0
}

.container.s-title {
    color: #fff;
    padding-top: 35px
}

.disclaimer>p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    word-spacing: 1px;
    line-height: 20px;
    margin: 0;
    padding: 8px 0;
    text-transform: uppercase;
    font-style: oblique;
    text-shadow: 0 5px 5px rgba(39,39,39,.521)
}

.disclaimer {
    box-shadow: 0 16px 80px 0 rgba(101,77,255,.171);
    background: radial-gradient(at left top,red,#ff3434)
}

.disclaimer>p>img {
    width: 30px;
    top: -1px;
    margin-right: 2px
}

.customer-section {
    border-top: 1px solid #cccccc2a;
    border-bottom: 1px solid #cccccc2a;
    padding: 20px 0
}

.customer-section h5 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 25px;
    padding-bottom: 12px
}

.customer-support-footer {
    display: flex;
    gap: 30px
}

.customer-info {
    display: flex;
    gap: 8px;
    align-items: flex-start
}

.cutomer-icon ion-icon {
    font-size: 26px;
    color: #ffd50c
}

.cutomer-address-text>a,.cutomer-address-text>p {
    font-size: 16px;
    font-weight: 500;
    color: #d1d0d0;
    line-height: 25px
}

.cutomer-address-text>a {
    cursor: pointer
}

.cutomer-address-text>a:hover {
    color: #b9b7b7
}
.promo-wrapper > a{
    text-decoration: none;
}

@media screen and (max-width: 896px) and (min-width: 601px) {
    .contact-social>ul {
        display: flex;
        list-style: none;
        align-items: baseline;
        margin: 0;
        padding: 15px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
}